.login-menu{
    display:flex
}

.login-menu li{
    margin-left:  25px;;
    list-style-type: none;

}

.login-menu li a{
    text-decoration: none;
}

.login-menu h4{
    margin: 0px;
}

.heading{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 50px;
}